<section class="registration-page">
    <div class="registration-page__container container">
        <h1>Registration</h1>
        <app-form>
            <div class="registration-page__form">
                @for (input of inputs; track $index) {
                    <app-text-input [textInputProps]="input"></app-text-input>
                }
                <app-button-input [buttonInputProps]="inputButton" style="max-width: 200px; margin: 0 auto;"></app-button-input>
            </div>
        </app-form>
    </div>
</section>